@import url("https://fonts.googleapis.com/css2?family=Inter");
*,
*:after,
*:before {
  box-sizing: border-box;
}
:host {
  /* --color-text-primary: #1c2a38;
  --color-text-secondary: #8a8f98; */
  --color-text-alert: #d72641;
  --color-text-icon: #dbdade;
  --color-bg-primary: #fff;
  /* --color-bg-secondary: #f3f5f9; */
  --color-bg-alert: #fdeaec;
  --color-theme-primary: #623ce6;
}
button,
input,
select,
textarea {
  font: inherit;
}
img {
  display: block;
}
strong {
  font-weight: 600;
}
body {
  font-family: "Inter";
  line-height: 1.5;
  color: var(--color-text-primary);
  /* background-color: var(--color-bg-secondary); */
}

.sports {
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;
  min-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(48, 48, 48, 0.1), 0 4px 4px 0 rgba(48, 48, 48, 0.1);
}
.sports-header {
  display: flex;
  border-bottom: 2px solid rgba(48, 48, 48, 0.1);
  padding: 16px;
  background-color: #103c8c;
  border: 2px solid black;
}
.sports-status {
  background-color: var(--color-bg-alert);
  color: var(--color-text-alert);
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  line-height: 1;
  margin-left: auto;
}
.sports-status:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: currentColor;
  border-radius: 50%;
  margin-right: 8px;
}
.sports-tournament {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  color: white;
}
.match-tournament img {
  width: 20px;
  margin-right: 12px;
}

.btn-icon {
  border: 0;
  background-color: transparent;
  color: var(--color-text-icon);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sports-content {
  display: flex;
  position: relative;
  background-color: #103c8c;
  border: 2px solid black;
}
.column {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-logo {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-bg-primary);
  box-shadow: 0 4px 4px 0 rgba(48, 48, 48, 0.15),
    0 0 0 15px var(--color-bg-secondary);
}
.team-logo img {
  width: 50px;
}
.team-name {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.sports-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sports-date{
  font-size: 14px;
  color: var(--color-text-secondary);
  color: white;
}
.sports-date strong{
  color: var(--color-text-primary);
  color: white;
}
.sports-score {
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.sports-score-number {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  color: white;
}

.sports-score-divider {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  color: var(--color-text-icon);
  margin-left: 10px;
  margin-right: 10px;
}
.sports-time-lapsed {
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
}

.Card {
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
}
.ended {
  color: darkgray;
  background-color: #1c2a38;
}
.goal {
  color: white;
  font-size: 10px;
}
.foot {
  font: 10px;
}
.loader{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.NoLive{
  text-align: center;
}
