<div class="container-fluid">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="wrapper">
        <img
          src="../../assets/Cricket.jpg"
          alt="CRICKET"
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="carousel-caption">
        <h3>CRICKET</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img
          src="../../assets/Football.jpg"
          alt="FOOTBALL"
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="carousel-caption">
        <h3>FOOTBALL</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img
          src="../../assets/kabaddi.webp"
          alt="KABADDI"
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="carousel-caption">
        <h3>KABADDI</h3>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="card">
  <div class="card-header">
    <img
      src="https://a.espncdn.com/combiner/i?img=%2Fredesign%2Fassets%2Fimg%2Ficons%2FESPN%2Dicon%2Dsoccer.png&w=80&h=80&scale=crop&cquality=40&location=origin"
      class="football_imag"
    /><b class="foot">FOOTBALL</b>
    <div class="see"><p>See All</p></div>
  </div>
  <div class="card-body">
    <img
      class="player"
      src="https://a3.espncdn.com/combiner/i?img=%2Fphoto%2F2023%2F0327%2Fr1150797_1296x518_5%2D2.jpg&w=1256&h=502&scale=crop&cquality=40&location=center&format=jpg"
    />
    <div class="footer">
      <a href=""
        >Russia are playing football again despite FIFA suspension. How? Because
        of sports, politics connection
      </a>
    </div>
  </div>
</div>
